/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lato:wght@300;400;600&family=Great+Vibes&display=swap');
:root {
  --textcolor: #25744b;
  --background: #fdfdfd;

  --color-background: var(--background);
  --color-text: var(--textcolor);

  --section-gap: 160px;
}

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  font-size: 22px;
  color: #25744b;
  line-height: 1.6;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html {
  position: relative;
  overflow: auto;
}

html.home-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('@/components/icons/Zanzibar--2025.png');
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.7);
  z-index: -1;
}
